<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745641136147-7m0f2ljtscsccnc2rqeec7vvbd2u63er.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745641136147-7m0f2ljtscsccnc2rqeec7vvbd2u63er</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-4bKfeWjRcIMEnKluqjvlcEMhTHG134</string>
	<key>GCM_SENDER_ID</key>
	<string>745641136147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutternew</string>
	<key>PROJECT_ID</key>
	<string>beauty-28838</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-28838.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745641136147:ios:738fccf4c39fbcc5edafe6</string>
</dict>
</plist>